/* OsaSkin.css

REVISIONS:

   Ver        	Date        	Author           Description
   ---------  	----------  	---------------  ------------------------------------
   1.0        	15/06/2016      TusharG       	 1. Initial OsaSkin.css Created
   1.1			24/10/2016		ToshahnvieM 	 2. Common components identified
   1.2			25/10/2016		ToshahnvieM 	 3. Customer Search components identified
   1.3			25/10/2016		ToshahnvieM 	 4. Customer Detail components identified
   1.4			25/10/2016		Vinay		     5. RMA search and Item Search components identified
   1.5          26/10/2016      DushyantK        6.Commented xtp class
   1.6          27/10/2016      DushyantK        7.for Order que
   1.7          01/11/2016      DushyantK        8.Common components 
   1.8          04/11/2016      PriyankK        StargateV2 component identified 
   1.9          04/11/2016      DushyantK       Added Skin for Osa Home Page Quick search lov(item,Order,Client)
   1.10			04/11/2016      SumitA          Added skin for transmission queue   
*/

@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";
/* 1.1 */
/* common components start*/
af|panelSplitter {
    -tr-divider-size: 37;
    marquee-direction: reverse;
}

af|panelSplitter::horizontal-divider {
    background-color: #ededef;
    width: 37px;
}

af|panelSplitter::horizontal-restore-icon {
    height: 35px;
    width: 22px;
    content: url("../../image/icon/arrow-white-divider-right.png");
    background-color: #EDEDEF;
    cursor: pointer;
}

af|panelSplitter::horizontal-collapse-icon {
    /* content: url("../../image/icon/arrow-white-divider-left.png");*/

    border: none;
    border-color: transparent;
    opacity: 1;
    height: 35px;
    width: 22px;
    background: none;
}

af|panelSplitter::horizontal-icon-container {
    border: none;
    border-color: transparent;
    visibility: visible;;
    appearance: normal;
    height: auto;
    top: auto;
}

af|panelSplitter::horizontal-icon-style {
    background-image: url("../../image/icon/arrow-white-divider-left.png");
    opacity: 0;
    width: 0px;
    height: 0px;
}

.xqt.p_AFDisclosed {
    background-image: url("../../image/icon/arrow-white-divider-left.png");
    background-repeat: no-repeat;
    background-origin: content-box;
}

.xqt {
    background-image: url("../../image/icon/arrow-white-divider-right.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 10px;
    padding-right: 10px;
    background-position: center;
}
/*panel splitter */
af|inputText::content:hover, af|inputText::content:selected, af|inputText::content:focus {
    height: 45px;
    width: 200px;
    font-family: "ArialNarrow";
    font-size: 16px;
    color: #717171;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #f1f0f0;
}

af|inputText::content {
    height: 45px;
    width: 200px;
    font-family: "ArialNarrow";
    font-size: 16px;
    color: #717171;
    background-color: #FFFFFF;
}

af|inputComboboxListOfValues::content:hover, af|inputText::content:selected, af|inputText::content:focus {
    height: 45px;
    width: 155px;
    font-family: "ArialNarrow";
    font-size: 18px;
    color: #717171;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #f1f0f0;
}

af|dialog::title {
    color: #D71321;
    font-family: "ArialNarrow";
    font-size: 14px;
    height: auto;
    font-weight: normal !important;
    margin-left: 15px;
}

af|inputComboboxListOfValues::content {
    height: 45px;
    width: 155px;
    font-family: "ArialNarrow";
    font-size: 18px;
    color: #717171;
    background-color: #FFFFFF;
}

af|inputText::label {
    color: #717171;
}
/* input text*/
/* input date*/
af|inputDate::content {
    width: 152px;
    height: 45px;
    font-size: 16px;
    color: #323232;
    background-color: #FFFFFF;
}

af|table af|column::column-header-cell {
    background-color: #1a1a1a;
    font-size: 14px;
    color: #FFFFFF;
    font-family: "ArialNarrow";
    font-weight: normal;
    border-right: #FFFFFF 1px solid;
	height: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
}

af|panelAccordion::header {
     background-color: #1A1A1A;
    min-height: 45px;
    padding: 0px 0px 0px 0px;
}

af|inputDate::label {
    color: #717171;
}

.xsz, .xsx {
    border-color: gray;
}

.xqy {
    visibility: hidden;
}

af|table::data-table-VH-lines af|column::data-cell {
    background-color: #FFFFFF;
    height: 30px;
    font-size: 12px;
    border: white 1px solid;
    padding-right: 0px;
}

af|table::data-row:selected:focused, af|table::data-row:selected:focused {
    font-size: 15px;
    color: #323232;
    border-color: #F6F6F6;
}

af|button {
    width: auto;
    height: 45px;
}

af|inputListOfValues::search-icon-style {
    height: 45px;
    color: #323232;
    background-image: url("../../image/icon/filter_icon.png");
    width: 45px;
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
}

af|inputListOfValues::search-icon-style:hover {
    height: 45px;
    padding: 10px 10px 10px 10px;
    width: 45px;
    background-color: #FFF;
}

af|inputListOfValues::content {
    color: #323232;
    height: 45px;
    width: 155PX;
    background-color: #FFFFFF;
}

af|inputListOfValues::search-icon-style:disabled, af|inputListOfValues::search-icon-style:disabled:hover, af|inputListOfValues::search-icon-style:disabled:active {
    background-image: url("../../image/icon/filter_icon.png");
}

af|inputListOfValues::search-icon-style:active {
    background-image: url("../../image/icon/filter_icon.png");
}


af|table::undisclosed-icon-style {
    background-image: url("../../image/icon/u238.png");
    -tr-inhibit: url("../../image/icon/u238.png");
}

af|table::disclosed-icon-style {
    background-image: url("../../image/icon/u238.png");
    -tr-inhibit: url("../../image/icon/u238.png");
}

af|table::disclosed-icon-style:hover {
    background-image: url("../../image/icon/u238.png");
    -tr-inhibit: url("../../image/icon/u238.png");
}

af|inputComboboxListOfValues::dropdown-icon-style {
    /* background-color: #d81724; */
}

.x187 {
    padding-right: 0px;
    padding: 0px;
    background-image: url("../../image/icon/plus-2-16.png");
    height: 44px;
    width: 44px
}

.x187:hover {
    background-image: url("../../image/icon/plus-2-16.png")!important;
    padding-right: 0px;
    padding: 0px;
    height: 44px;
    width: 44px
}

.x186:hover {
    background-image: url("../../image/icon/plus-2-16.png")!important;
}
/*1.5
.xtp, .xtq {
    vertical-align: middle;
    margin: 6px 3px 0px 2px;
     padding: 15px; 

    width: 50px;
}
*/
.x25.p_AFSelected {
    width: 200px;
}

.x25:focus {
    width: 200px;
}

.x25 {
    width: 200px;
}

.xh9 {
    padding: 0px 0px 0px 0px;
}

.xh9 {
    padding: 0px 0px 0px 0px;
}

.x17u {
    padding-right: 0px;
}
@agent gecko and (max-version:18) {
    af|inputColor::content:-moz-placeholder, af|inputComboboxListOfValues::content:-moz-placeholder, af|inputDate::content:-moz-placeholder, af|inputListOfValues::content:-moz-placeholder, af|selectOneChoice::content:-moz-placeholder, af|inputNumberSpinbox::content:-moz-placeholder, af|inputText::content:-moz-placeholder {
        color: #e2dede;
    }
}


@agent gecko and (min-version:19) {
    af|inputColor::content::-moz-placeholder, af|inputComboboxListOfValues::content::-moz-placeholder, af|inputDate::content::-moz-placeholder, af|inputListOfValues::content::-moz-placeholder, af|selectOneChoice::content:-moz-placeholder, af|inputNumberSpinbox::content::-moz-placeholder, af|inputText::content::-moz-placeholder {
        color: #e2dede;
    }
}


@agent webkit {
    af|inputColor::content::-webkit-input-placeholder, af|inputComboboxListOfValues::content::-webkit-input-placeholder, af|inputDate::content::-webkit-input-placeholder, af|inputListOfValues::content::-webkit-input-placeholder, af|selectOneChoice::content::-webkit-input-placeholder, af|inputNumberSpinbox::content::-webkit-input-placeholder, af|inputText::content::-webkit-input-placeholder {
        color: #e2dede;
    }
}


@agent ie {
    af|inputColor::content:-ms-input-placeholder, af|inputComboboxListOfValues::content:-ms-input-placeholder, af|inputDate::content:-ms-input-placeholder, af|inputListOfValues::content:-ms-input-placeholder, af|selectOneChoice::content:-ms-input-placeholder, af|inputNumberSpinbox::content:-ms-input-placeholder, af|inputText::content:-ms-input-placeholder {
        color: #e2dede;
    }
}



    af|inputDate::content:hover, af|inputDate::content:selected, af|inputDate::content:focus {
        width: 152px;
        height: 45px;
        font-size: 16px;
        color: #717171;
        background-color: #F1F0F0;
    }
    af|inputDate::launch-icon-style {
        color: #e2dede;
    }
    af|inputDate::launch-icon-style, af|inputDate::launch-icon-style:focus, af|inputDate::launch-icon-style:active, af|inputDate::launch-icon-style:hover:active {
        background-image: url("../../image/icon/u142.png");
        height: 24px;
        width: 24px;
        left: -33px;
        content: url("../../image/icon/u142.png");
    }
@agent (touchScreen:none) {
    af|inputDate::launch-icon-style:hover {
        background-image: url("../../image/icon/u142.png"); 
        content: url("../../image/icon/u142.png"); 
    }
 }



af|selectManyChoice:active::dropdown-icon-style, af|selectManyChoice:depressed::dropdown-icon-style, af|inputComboboxListOfValues::dropdown-icon-style:active, af|inputComboboxListOfValues::dropdown-icon-style:depressed {
    background-image: url("../../image/icon/plus-2-16.png");
    height: 44px;
    width: 44px;
    background-color: -tr-property-ref(".AFButtonBackgroundActive:alias", "background-color");
}

af|selectManyChoice:disabled::dropdown-icon-style, af|selectManyChoice:disabled::dropdown-icon-style:active, af|selectManyChoice::dropdown-icon-style:disabled, af|selectManyChoice::dropdown-icon-style:disabled:active, af|inputComboboxListOfValues::dropdown-icon-style:disabled, af|inputComboboxListOfValues::dropdown-icon-style:disabled:active {
    background-image: url("../../image/icon/plus-2-16.png");
    height: 44px;
    width: 44px;
    background-color: -tr-property-ref(".AFButtonBackgroundDisabled:alias", "background-color");
}

af|selectManyChoice::dropdown-icon-style {
    background-image: url("../../image/icon/plus-2-16.png");
}

.x186 {
    height: 45px;
    width: 45px;
    background-color: rgb(216, 23, 36);
    padding: 0px;
}

af|panelAccordion::header-title {
    color: #FFFFFF;
    font-family: "Arial Narrow";
     background-color: #1A1A1A;
    font-weight: normal;
    font-size: 18px;
}

af|panelAccordion::header-disclose {
     background-color: #1A1A1A;
}

af|panelAccordion::header-subsequent {
     background-color: #1A1A1A;
    min-height: 45px;
    padding: 0px 0px 0px 0px;
    background-image: none;
}

af|panelAccordion::header-toolbar {
     background-color: #1A1A1A;
}

af|panelAccordion::undisclosed-icon-style
{
  margin-left:15px;
margin-right:15px;
    background-image: url("../../image/icon/arrow_expand_icon.png"); 
    }
af|panelAccordion::undisclosed-icon-style:hover
{margin-left:15px;
margin-right:15px;
    background-image: url("../../image/icon/arrow_expand_hover_icon.png")!important; 
}
af|panelAccordion::disclosed-icon-style
{margin-left:15px;
margin-right:15px;;
    background-image: url("../../image/icon/arrow_collapse_icon.png"); 
    }
af|panelAccordion::disclosed-icon-style:hover
{    margin-left:15px;
margin-right:15px;
    background-image: url("../../image/icon/arrow_collapse_hover_icon.png")!important; 
}
.AFDisclosedIconStyleHover:alias {
margin-left:15px;
margin-right:15px;
  background-image: url('../../image/icon/arrow_collapse_hover_icon.png');
}
.AFUndisclosedIconStyleHover:alias {
margin-left:15px;
margin-right:15px;
  background-image:  url("../../image/icon/arrow_expand_hover_icon.png");
}
/* common components end*/

/* 1.2 */
/* 007 Customer Search start*/
@agent ie {
    af|inputListOfValues.customer::content:-ms-input-placeholder {
        color: #e2dede;
    }
}

/*1.7 */
.AFButton:alias {
  max-height: 28px;
}
/*1.7*/
af|inputListOfValues.customer::search-icon-style:disabled, af|inputListOfValues.customer::search-icon-style:disabled:hover, af|inputListOfValues.customer::search-icon-style:disabled:active {
    background-image: url("../../image/icon/plus-2-16.png");
}



af|inputListOfValues.customer::search-icon-style:active {
    background-image: url("../../image/icon/plus-2-16.png");
}

af|inputListOfValues.customer::search-icon-style {
    height: 45px;
    background-image: url("../../image/icon/plus-2-16.png");
    width: 45px;
    background-color: #FFF;
    margin-top: 5px;
}

af|inputListOfValues.customer::content {
    height: 46px;
    width: 155px;
    background-color: #FFF;
    font-size: 18px;
    color: #717171;
    font-family: "ArialNarrow" !important;
}

af|inputListOfValues.customer::label {
    padding: 0px 0px 0px 0px;
}


.x1bn:hover {
    background-image: url(../../image/icon/filter_icon.png)
}

af|button.table::dropdown-icon-style {
    background-image: url("../../image/icon/arrow_grey_down.png");
    margin: 5px 5px 0px 0px;
}

af|button.table:hover::dropdown-icon-style {
    background-image: url("../../image/icon/arrow_grey_down.png")!important;
    margin: 5px 5px 0px 0px;
}

.xg4 {
    background-image: url("../../image/icon/arrow_grey_down.png")!important;
}

af|button.table::text {
    margin-top: 10px;
    color: #717171;
}

af|button.table:hover::text {
    color: #717171;
}

/* 007 Customer Search end */


/* 1.3*/
/* 008 Customer Detail start*/
.custdetail af|inputText::content:hover, .custdetail af|inputText::content:selected,.custdetail af|inputText::content:focus {
    height: 45px;
    width: 180px;
    font-family: "ArialNarrow";
    font-size: 12px;
    color: #323232;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color:  #FFFFFF;
    
}

 .custdetail af|inputText::content {
    height: 45px;
    width: 180px;
    font-family:"ArialNarrow";
    font-size: 12px;
    color: #323232;
    background-color: #FFFFFF;
}

.custdetail1 af|inputText::content:hover, .custdetail1 af|inputText::content:selected,.custdetail1 af|inputText::content:focus {
    height: 45px;
    width: 465px;
    font-family: "ArialNarrow";
    font-size: 12px;
    color: #323232;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color:  #FFFFFF;
    
}

 .custdetail1 af|inputText::content {
    height: 45px;
    width: 465px;
    font-family: "ArialNarrow";
    font-size: 12px;
    color: #323232;
    background-color: #FFFFFF;
}

.custdetail af|inputComboboxListOfValues::content {
    height: 25px; 
}
.custdetail af|inputComboboxListOfValues::dropdown-icon-style {
    height: 25px; 
}

/* 008 Customer Detail end*/

/*modified on 12-10/2016*/


/* 1.8*/
/*001 Home page start */
@agent gecko and (max-version:18) {
    af|inputColor.darkColor::content:-moz-placeholder, af|inputComboboxListOfValues.darkColor::content:-moz-placeholder, af|inputDate.darkColor::content:-moz-placeholder, af|inputListOfValues.darkColor::content:-moz-placeholder, af|selectOneChoice.darkColor::content:-moz-placeholder, af|inputNumberSpinbox.darkColor::content:-moz-placeholder, af|inputText.darkColor::content:-moz-placeholder {
        color: #bcbabb;
    }
}


@agent gecko and (min-version:19) {
    af|inputColor.darkColor::content::-moz-placeholder, af|inputComboboxListOfValues.darkColor::content::-moz-placeholder, af|inputDate.darkColor::content::-moz-placeholder, af|inputListOfValues.darkColor::content::-moz-placeholder, af|selectOneChoice.darkColor::content:-moz-placeholder, af|inputNumberSpinbox.darkColor::content::-moz-placeholder, af|inputText.darkColor::content::-moz-placeholder {
        color: #bcbabb;
    }
}


@agent webkit {
    af|inputColor.darkColor::content::-webkit-input-placeholder, af|inputComboboxListOfValues.darkColor::content::-webkit-input-placeholder, af|inputDate.darkColor::content::-webkit-input-placeholder, af|inputListOfValues.darkColor::content::-webkit-input-placeholder, af|selectOneChoice.darkColor::content::-webkit-input-placeholder, af|inputNumberSpinbox.darkColor::content::-webkit-input-placeholder, af|inputText.darkColor::content::-webkit-input-placeholder {
        color: #bcbabb;
    }
}


@agent ie {
    af|inputColor.darkColor::content:-ms-input-placeholder, af|inputComboboxListOfValues.darkColor::content:-ms-input-placeholder, af|inputDate.darkColor::content:-ms-input-placeholder, af|inputListOfValues.darkColor::content:-ms-input-placeholder, af|selectOneChoice.darkColor::content:-ms-input-placeholder, af|inputNumberSpinbox.darkColor::content:-ms-input-placeholder, af|inputText.darkColor::content:-ms-input-placeholder {
        color: #bcbabb;
    }
	}

/*001 Home page end*/


.colorfulAccordian1 af|panelAccordion::header-toolbar {
    background-color: #000000;
}


/*Order que page start here*/

af|table.popup-table af|column::column-header-cell 
{  
background-color: #1A1A1A;
font-size: 15px;
color: #FFFFFF;
font-family: ''Arial narrow''; 
 height: 20px;
}


.Order-queue-lov af|inputListOfValues::search-icon-style {
    height: 45px;
    color: #323232;
    width: 45px;
    background-image: url("../../image/icon/search_lov_icon.png");
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
}

.Order-queue-lov af|inputListOfValues::search-icon-style:hover {
    height: 45px;
    padding: 10px 10px 10px 10px;
    width: 45px;
    background-color: #FFF;
}

.Order-queue-lov af|inputListOfValues::content {
    color: #323232;
    height: 45px;
    width: 260PX;
    background-color: #FFFFFF;
}

af|table.order-que-col-header af|column::column-header-cell {
    background-color: #404040;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "ArialNarrow";
    font-weight: normal;
    border-right: #FFFFFF 1px solid;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}



/*Order que page end here*/

/*1.9 Start here*/



.osa-home-lov af|inputListOfValues::search-icon-style {
display: none;
background-image: none; 
}
.osa-home-lov af|inputListOfValues::search-icon-style:hover {
   display: none;
   background-image: none; 
}
/*1.9 End here*/

/*1.10 Start here*/
/*Transmission Queue Start here*/
af|table.transmission-que-col-header af|column::column-header-cell {
       font-size: 16px;
    
}
/*1.10 End here*/
/*Transmission Queue End here*/
af|button.actionButton {
    width: 20px;
    font-family: 'ArialNarrow'; 
     font-size: 18px;
    color: #FFFFFF;
    background-color:#484848;
}




